<!DOCTYPE html>
<html>
    <head>
        <title>Error:404</title>
        <link rel="icon" href="/img/404.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body style="background-color: white;" align='center'>
        <div class="main-content">
            <h1>Aw, Snap!</h1>
            {{>header}}
            <img  src="/img/404.jpg">
            {{>error}}
        </div>
    </body>
</html>