<!DOCTYPE html>
<html>
    <head>
        <title>Error:404</title>
        <link rel="icon" href="/img/404.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body align='center'>
        <div class="main-content">
            {{>header}}
            <img  src="/img/404.jpg"> <br>
            {{>error}}
        </div>
    </body>
</html>