<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/rain.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body align='center'>
        <div class="main-content">
            {{>header}}
            <h2>Developed By</h2>
            <img src="/img/me.jpg" class="portrait">
            <a href="https://www.linkedin.com/in/aman56thakur"><h2>{{name}}</h2></a>
        </div>
        {{>footer}}
    </body>
</html>