<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/rain.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body align='center'>
        <div class='main-content'>
            {{>header}}
            <p>Enter Location to get Current Weather</p> <br>
            <form>
                <input type="text" id="input_city" required placeholder="City Name"> <br><br>
                <input type="text" id="input_country" required placeholder="Country Code"><br>
                <button class="btn" type="submit"><span>Get Weather</span></button>
            </form>
            <p id="para_1" style="font-weight: bold;"></p>
            <p id="para_2" style="font-weight: bold;"></p>
            <p id="para_3" style="font-weight: bold;"></p>
        </div>
        {{>footer}}
        <script src="/scripts/app.js"></script>
    </body>
</html>